<nav class="navbar navbar-expand-lg navbar-light"  id="nav">
  <span class="navbar-brand">News Scraper</span>
  <div id="navbarNav"></div>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/scrape">Scrape New Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clear">Clear Articles</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4" id="jumbo-title">News Scraper</h1>
    <p class="lead" id="jumbo-p">Headlines from BBC</p>
  </div>
</div>


<div id="container-body">
    <div id="articles">

{{#each article}}
{{#unless saved}}

<div class="card">
  <div class="card-header">
    <div class="cardTitle">
     <a class="article-title" href="https://www.bbc.com{{this.link}}" target="_blank">{{this.title}}</a>
    </div>
    <div id="saveArticleButton"><button class="btn btn-primary saveButton" data-id="{{this._id}}">Save Article</button></div>
  </div>
  <div class="card-body">
    <p class="card-text-body">Summary: {{this.summary}}</p>
   
  </div>
</div>
{{/unless}}
{{/each}}

{{#unless article}}
<div class="card" id="noArticles">
  <div class="card-body text-center">
    <p class="card-text-body" id="noArticlesText">It looks like there are no articles yet!</p>

    <a href="/scrape" ><button class="btn btn-primary">Click here to load new articles!</button></a>
   
  </div>
</div>

{{/unless}}
    </div>
</div>

